<div class="home-page">
    <div class="container-fluid banner">
        <div class="container">
            <div class="banner-inner">
                <div class="col-md-4 col-sm-12 md-right sm-left">
                    <img class="logo-banner" src="{{'assets/img/fedbiomed-logo.png'|url}}"/>
                </div>
                <div class="col-md-8 col-sm-12">
                    <div class="banner-text">
                        <h1>Fed-BioMed</h1>
                        <h2>Federated learning in healthcare</h2>
                        <p>Open, Transparent and Trusted Federated Learning for Real-World Healthcare Applications </p>
                        <div class="banner-buttons flex-view">
                            <a target="_self" href="{{'assets/resources/fedbiomed_paper-20230206.pdf' | url}}" class="fed-button primary" download="fedbiomed-whitepaper.pdf">Whitepaper</a>
                            <a href="{{'getting-started/what-is-fedbiomed'|url}}" class="fed-button primary">Get Started</a>
                            <a href="https://github.com/fedbiomed/fedbiomed" target="_blank" class="fed-button primary icon">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" width="30" height="30" viewBox="0 0 24 24"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>
                                GitHub
                            </a>
                            <a href="#user-support" class="fed-button primary">User support</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="section-title">
                <h2>Our Goal</h2>
                <p>
		Fed-BioMed is an open-source research and development initiative for translating federated learning into real-world medical applications. <br>
The community of Fed-BioMed gathers experts in medical engineering, machine learning, communication, and security. <br> We all contribute to provide an open, user-friendly, and trusted framework for deploying the state-of-the-art of federated learning in sensitive environments, such as in hospitals and health data lakes.   
                </p>
                <hr/>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="fed-card">
                        <img src="{{'assets/img/tap.svg'|url}}"/>
                        <div class="title">Easy Deployment</div>
                        <div class="text">Easily deploy state-of-the art federated learning analysis frameworks</div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="fed-card">
                        <img src="{{'assets/img/security.svg' | url}}"/>
                        <div class="title">Security</div>
                        <div class="text">Strong focus on security in communications and machine learning</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="fed-card">
                        <img src="{{'assets/img/repository.svg' | url}}"/>
                        <div class="title">Model Deployment</div>
                        <div class="text">Multiframework support to easily deploy models and analysis methods (PyTorch, Scikit-Learn, MONAI, numpy)</div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="fed-card">
                        <img src="{{'assets/img/teamwork.svg'|url}}"/>
                        <div class="title">Collaboration</div>
                        <div class="text">Foster research and collaborations in federated </br> learning.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <hr>
    </div>
    <div class="section">
        <div class="container">
            <div class="section-title">
                <h2>Let's Start</h2>
                <p>
                    Start using Fed-BioMed, follow our tutorials and user guide. 
                </p>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div href="" class="fed-button-card">
                        <div class="title">Getting Started</div>
                        <div class="text">Learn about Fed-BioMed framework and see how we convert local training to federated training.</div>
                        <a href="{{'getting-started/what-is-fedbiomed' | url}}" class="fed-button secondary right">Start</a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div href="" class="fed-button-card">
                        <div class="title">Software Installation</div>
                        <div class="text">Learn how to install Fed-BioMed modules on your machine and start Fed-BioMed tutorials. </div>
                        <a href="{{'tutorials/installation/0-basic-software-installation' | url}}" class="fed-button secondary right">Installation</a>
                    </div>
                </div>
            </div>
            <div class="row"> 
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div href="" class="fed-button-card">
                        <div class="title">Tutorials</div>
                        <div class="text">Follow our tutorials to know more about Fed-BioMed</div>
                        <a href="{{'tutorials/monai/01_monai-2d-image-classification'|url}}" class="fed-button secondary right">MONAI</a>
                        <a href="{{'tutorials/scikit-learn/01_sklearn_MNIST_classification_tutorial'|url}}" class="fed-button secondary right">Scikit-Learn</a>
                        <a href="{{'tutorials/pytorch/01_PyTorch_MNIST_Single_Node_Tutorial'|url}}" class="fed-button secondary right">PyTorch</a>
                    </div>
                </div>  
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div href="" class="fed-button-card">
                        <div class="title">User Guide</div>
                        <div class="text">Learn details about Fed-BioMed framework.</div>
                        <a href="{{'user-guide/glossary'|url}}" class="fed-button secondary right">Docs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <hr>
    </div>
    <div class="section">
        <div class="container">
            <div class="section-title">
                <h2>What's federated learning?</h2>
                <p>
                    Discover the advantages of federated learning with Fed-BioMed 
                </p>
            </div>
        </div>
       
        <div class="container">
            <div class="row equal-cols">
                <div class="col-md-6 centered-content">
                    <div class="">
                        <p> The goal of Federated learning is to allow collaborative learning with decentralized data. </p>
                        <p>
                            Healthcare is a typical application of federated learning:
                            while hospitals across several geographical locations want to jointly train a machine learning model on the data hosted at each site, data cannot be shared between them because of privacy and security concerns. Federated learning gives us a methodological framework to train a global machine learning model, by only sharing the parameters of the models separately trained at each site. As a result, data never leaves the hospitals, and training is performed by simply aggregating models parameters to finally obtain a global model. Under certain conditions, the <strong>aggregated model</strong>  faitfully represents the global variability across hospitals, and provides high generalization and robustness properties.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-content">
                        <img src="{{'assets/img/fl-graph.png'|url}}" />
                    </div>
                </div>
            </div>
            </hr>
        </div>
    </div>
    <div class="container">
        <hr>
    </div>
    <div class="section">
        <div class="container">
            <div class="section-title">
                <h2>News</h2>
            </div>
            <div class="row">
                {% include "./include/news.html" %}
            </div>
        </div>
    </div>
    <div class="container">
        <hr>
    </div>

    <div class="section">
        <div class="container">
            <div class="section-title" id="funding">
                <h2>Funding</h2>
            </div>
            <div class="section">
                <div class="row">
                    <div class="col-md-4">
                        <div class="img-content centered max-w-300">
                            <img src="{{'assets/img/inria.png'|url}}" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="img-content centered max-w-300">
                            <img src="{{'assets/img/3ia-cote-dazur.png'|url}}" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="img-content centered max-w-300">
                            <img src="{{'assets/img/ANR.png'|url}}" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="img-content centered max-w-300">
                            <img src="{{'assets/img/plan_IA.jpg'|url}}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
     <div class="container">
        <hr>
     </div>
     <div class="section">
        <div class="container">
            <div class="section-title" id="contributors">
                <h2>Industrial Contributors</h2>
            </div>
            <div class="section">
                <div class="row">
                    <div class="col-md-4">
                        <div class="img-content centered max-w-300">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="img-content centered max-w-300">
                            <img src="{{'assets/img/acc_logo.png'| url}}" />
                        </div>
                    </div>
                </div>
            </div>  
        </div>
     </div>  
     <div class="container">
        <hr>
     </div> 
     <div class="section">
            <div class="container">
                <div class="section-title" id="users">
                    <h2>Users and Partners</h2>
                    <div class="col-md-4">
                        <div class="img-content centered max-w-300">

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="img-content centered max-w-300">
                            <img src="{{'assets/img/CAL.png' | url }}" />
                        </div>
                    </div>
                </div>
                <div class="row">

                </div>
            </div>
     </div>
     <div class="container">
        <hr>
     </div>
     <div class="section">
        <div class="container">
            <div class="section-title" id="user-support">
                <h2>User support</h2>
            </div>
            <div class="section inner">
                <div class="row">
                    <div class="centered-text">
                        <p>
                            Send a message to <strong>fedbiomed-support _at_ inria _dot_ fr</strong>
                            <br>to benefit from the feedback of the community and/or
                            <br>to request an invite to the Fed-BioMed support channel on Discord.
                        </p>
                        <p>
                            Please begin with checking the <a href="https://sympa.inria.fr/sympa/arc/fedbiomed-support" target="_blank">support list archive</a>
                            and <a href="https://gitlab.inria.fr/fedbiomed/fedbiomed/-/issues?state=all" target="_blank">issues archive</a> for an existing answer to your problem.
                        </p>
                        <p>
                            When posting a support request, please pay attention to some tips:
                            <ul>
                                <li><strong>Be clear</strong> about what your problem is: what was the expected outcome,<br> what happened instead? Detail how someone else can recreate the problem.</li>
                                <li><strong>Additional infos:</strong> link to demos, screenshots or code showing the problem.</li>
                            </ul>
                        </p>
                        <p>
                            You may also want to <a href="https://sympa.inria.fr/sympa/subscribe/fedbiomed-support" target="_blank">subscribe</a> to the support list.
                        </p>
                    </div>
                </div>
            </div>
        </div>
     <div class="section">
        <div class="container">
            <div class="section-title" id="contact-us">
                <h2>Contact Us</h2>
            </div>
            <div class="row">
                <div class="centered-text">
                    <p>
                        If you want to be part of Fed-BioMed contact <strong>fedbiomed _at_ inria _dot_ fr</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="container">
            {% if page %}
                {# page.content #}
            {% endif %}
        </div> 
    </div>
</div>
